body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #222;
  padding: 10px 20px;
}

nav a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav b {
  color: #000;
  margin-right: 15px;
  text-decoration: none;
}

nav b:hover {
  text-decoration: underline;
}

main {
  max-width: 100%;
  margin: 20px auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  /* margin: 1px 0; */
}

footer {
  text-align: center;
  padding: 10px 20px;
  background: #f2f2f2;
  margin-top: 40px;
}
